<form>
    <label for="Species">Species:</label>
    <input name="Species" type="text" [(ngModel)]="newAnimal.Species"/>
  
    <label for="Name">Name:</label>
    <input name="Name" type="text" [(ngModel)]="newAnimal.Name"/>
  
    <label for="DateOfBirth">Date of birth:</label>
    <input name="DateOfBirth" type="text" [(ngModel)]="newAnimal.DateOfBirth"/>

    <button (click)="addAnimal(newAnimal)">Add Animal</button>
</form>

<table *ngFor='let animal of AnimalList; let i = index; '>
		<tr>
			<th>Species</th>
			<th>Name</th>
			<th>Date of Birth</th>
			<th>Sector name</th>
			<th>Sector surface</th>

		</tr>
		<tr>
			<td>{{animal.Species}}</td>
			<td>{{animal.Name}}</td>
			<td *ngIf="animal.DateOfBirth.length > 0">{{animal.DateOfBirth}}</td>
			<td *ngIf="animal.DateOfBirth.length === 0">{{isNotDateOfBirth}}</td>
			<td > {{ animal.sector.name }} </td>
			<td > {{ animal.sector.surface }} </td>

			<td (click)='deleteAnimal(i)'><strong>Remove</strong></td>
			<td><button (click)='MoveToTopAnimal(i)'>Move To Top</button></td>
		</tr>
</table>

<table>
	<thead>
		<th>Sector name</th>
		<th>Surface</th>
	</thead>
	<tbody>
		<tr *ngFor="let sector of sectors">
			<td> {{ sector.name }}</td>
			<td> {{ sector.surface }}</td>
			<button (click)="showAnimalsBySector(sector)">View list of animals</button>
		</tr>
	</tbody>
</table>


